*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: blue;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.inline-icon {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.container {
  --icon-filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(225deg)
    brightness(107%) contrast(102%);
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 1fr 5fr;
}

.header {
  grid-row: 1 / 3;
  grid-column: 2 / -1;
  background-color: white;
  padding-left: 4.5rem;
  padding-top: 1rem;
}

input.search-bar {
  width: 27rem;
  height: 1.7rem;
  background-color: #e2e8f0;
  border: 1px solid #e5e7eb;
  border-radius: 100px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  outline: none;
}

span.magnify {
  position: relative;
}

span.magnify::after {
  position: absolute;
  content: url(img/icon/magnify.svg);
  width: 2rem;
  left: -2.8rem;
}

.sidebar {
  --small-icon-width: 1.5rem;
  --gap: 1rem;
  --color: white;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color);
}

.sidebar a {
  color: var(--color);
}

.sidebar-header {
  font-size: 1.7rem;
  flex-wrap: wrap;
}

.sidebar-content {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  gap: var(--gap);
}

.sidebar-essential {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.sidebar-content,
.sidebar-essential {
  gap: var(--gap);
}

.sidebar-header > img {
  width: 3rem;
  filter: var(--icon-filter);
}

.sidebar-content-child > img,
.sidebar-essential-child > img {
  width: var(--small-icon-width);
  filter: var(--icon-filter);
}

.main-content {
  grid-row: 3 / -1;
  grid-column: 2 / 4;
  background-color: burlywood;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.article {
  grid-row: 1;
}

.main-content-info {
  grid-row: 2;
}
