*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: sans-serif, Helvetica, Arial, Roboto, system-ui, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hr {
  border-top: 1px solid #d2d2d2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.inline-icon {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.avatar {
  width: 3.2rem;
}

.user-name {
  font-weight: bold;
}

.user-name-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-name-big {
  font-size: 2rem;
}

.container {
  --icon-filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(225deg)
    brightness(107%) contrast(102%);
  --header-left-padding: 4.5rem;
  --header-top-padding: 0.5rem;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: min-content min-content 5fr;
  grid-template-columns: 1fr 5fr;
}

.header {
  grid-row: 1 / 3;
  grid-column: 2 / -1;
  background-color: white;
  padding-top: var(--header-top-padding);
  padding-right: 2rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-rows: min-content min-content;
}

.header-top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding-left: 5rem;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
  gap: 1rem;
}

.header-bottom img {
  width: 4.5rem;
}

.user-greeting-section {
  display: flex;
  align-items: center;
  font-weight: bold;
  column-gap: 1rem;
}

.header-input-section {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
}

.header-info-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-info-section,
.header-input-section {
  align-self: center;
}

.header-info-section {
  justify-self: flex-end;
  gap: 2.5rem;
}

input.search-bar {
  width: clamp(30ch, 100%, 70ch);
  height: 1.5rem;
  background-color: #e2e8f0;
  border: 1px solid #e5e7eb;
  border-radius: 100px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  outline: none;
}

input.search-bar:hover,
input.search-bar:active,
input.search-bar:focus {
  background-color: #d5dde7;
}

span.magnify {
  position: relative;
}

span.magnify::after {
  position: absolute;
  content: url(img/icon/magnify.svg);
  width: 1.6rem;
  left: -2.5rem;
}

.notification-bell {
  width: 1.6rem;
}

.sidebar {
  --small-icon-width: 1.5rem;
  --gap: 1rem;
  --color: white;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: var(--header-top-padding);
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color);
  box-shadow: 0px 25px 25px -35px rgba(0, 0, 0, 0.45);
}

.sidebar a {
  color: var(--color);
}

.sidebar-header {
  font-size: 1.7rem;
  flex-wrap: wrap;
}

.sidebar-content {
  display: grid;
  grid-template-rows: repeat(6, min-content);
}

.sidebar-essential {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.sidebar-content,
.sidebar-essential {
  gap: var(--gap);
}

.sidebar-header > img {
  width: 3rem;
  filter: var(--icon-filter);
}

.sidebar-content-child > img,
.sidebar-essential-child > img {
  width: var(--small-icon-width);
  filter: var(--icon-filter);
}

.main-content {
  grid-row: 3 / -1;
  grid-column: 2 / 4;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 1.5rem 2rem 4rem 1.2rem;
  column-gap: 2rem;
}

.article {
  display: grid;
  grid-column: 1;
  grid-template-rows: min-content 1fr;
  gap: 0.6rem;
}

.main-content-info {
  grid-column: 2;
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 2rem;
}

.announcements {
  grid-row: 1;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}

.announcements .card {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.bold-title-small + p {
  color: #636363;
}

.bold-title-small {
  font-weight: bold;
}

.trending {
  grid-row: 2;
}

.bold-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.article .card {
  background: linear-gradient(to right, #f0b429, #f0b429) left/7px 100%
      no-repeat,
    white;
  padding: 2rem 1.5rem;
  gap: 0.3rem;
}

.card > .title {
  font-weight: bold;
}

.card > .title + p {
  color: #636363;
}

.card-interaction-section {
  display: flex;
  column-gap: 1.2rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.card-interaction-section img {
  width: 1.8rem;
}

.header-bottom-button-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

/* This button from a getcssscan and it is a button by Stripe */
.header-bottom-button-section > button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #0093e9;
  border-radius: 100px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  line-height: 1.15;
  margin: 0.8rem 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  flex-grow: 1;
}

.header-bottom button:disabled {
  cursor: default;
}

.header-bottom button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
